dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7.1
django-filter==0.9.1
django-toolbelt==0.0.1
gunicorn==19.1.1
Pillow==2.4.0
psycopg2==2.5.2
queuelib==1.2.2
requests==2.5.0
six==1.9.0
static3==0.5.1
Twisted==14.0.2
virtualenv==1.11.6
w3lib==1.10.0
waitress==0.8.9
whitenoise==1.0.6
zope.interface==4.1.2
